.main-container {
  margin-top: 0;
  padding: 0;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  height: 80vh;
  width: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
